@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../../node_modules/flowbite";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';


@theme {
    --color-primary: #fc6a3e;

    --color-primary-50: #fff3ed;
    --color-primary-100: #ffe4d5;
    --color-primary-200: #fec5aa;
    --color-primary-300: #fe9c73;
    --color-primary-400: var(--color-primary);
    --color-primary-500: #fa4115;
    --color-primary-600: #eb270b;
    --color-primary-700: #c3190b;
    --color-primary-800: #9b1611;
    --color-primary-900: #7d1511;
    --color-primary-950: #430707;
}

@layer components {
    .container {
        @apply w-full;
        @apply mx-auto;
        @apply max-w-screen-xl;
        @apply py-8;
        @apply lg:py-16;
    }
}
