@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../../node_modules/flowbite";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';


@theme {
    --color-primary: #fc6a3e;
}

@layer components {
    .container {
        @apply mx-auto;
        @apply max-w-screen-xl;
        @apply px-4 lg:px-0;
        @apply py-6;
    }
}
